.responsive-table .col-1 {
  flex-basis: 10%;
}
.responsive-table .col-2 {
  flex-basis: 15%;
}
.responsive-table .col-3 {
  flex-basis: 20%;
}
.responsive-table .col-4 {
  flex-basis: 15%;
}
.responsive-table .col-5 {
  flex-basis: 10%;
}
.responsive-table .col-6 {
  flex-basis: 15%;
}
.responsive-table .col-7 {
  flex-basis: 15%;
}